footer
    .footer--wrapper
        script.
            new Date().getFullYear()>2010&&document.write("<p>© "+new Date().getFullYear() +", Kyle Kochanek. <span class='secondary--text'>Built with ❤️ & caffeine.</span></p>");
