doctype html
html
    head
        //- This comment should be invisible because it has been modifid
        title Do Great Work | 🎨 Portfolio
        include ../../components/head.pug

    body
        include ../../components/nav.pug
        main
            h1 Welcome to my Portfolio
            section.now--entry
                h2 Building this site
                p currently now I am building this site. mostly having fun digging around with Vanella js, SASS and PUG.