doctype html
html
    head
        //- This comment should be invisible because it has been modifid
        title Do Great Work
        include ../../components/head.pug

    body
        h1 Hello World, this is the styles page
        a(href="/") Go Home


        p
            | Hello World!
            | This is an exploration into PUG
            em Lets learn this right. Feels better than react.
            | Cant wait to see what is created

        //- Using `.` dot character, we can make use of block of text to write style or script code,
        //- since, all text in this block will not be processed by pug.
        script.
            if(window.navigator.geolocation){
                console.log("Geolocation is availible!")
            }
            else{
                console.warn("Geolocation is not availible")
            }
        //- We can also create a dot block of plain text after other tags within the parent tag.
        div
            p hello world, this is an optional paragraph.
            .
                Hey there, I am in the block, just inside of a div tag and kicked out of the paragraph tag
        //- Links
        //- An example of actual JavaScript expression.
        //- You can separate multiple attributes using `,` or ` ` space character.
        //- a(href="https://" + "google" +  ".com", target="_blank") google.com

        //- Unbuffered JavaScript code does not output any results.
        //- Unbuffered code must start with `-` hyphen.
        - let fieldName = "username"
        - let required = false
        input(type="text", name=fieldName, required=required)
        //- Block unbuffered code works as well, I note this is an interesting way to applie different classes.
        -
            let classes = [
                "general",
                "link",
                "active"
            ];

        a(href="some-link", class=classes) Link
