.hero--body
    overflow: hidden
.hero--card
    max-width: 64ch
    background: linear-gradient(90deg, #181B25 0%, #202536 200%)
    padding: 3rem 2rem 3rem 2rem
    border: 1px solid $color-light-base
    border-radius: .5rem
    @include cardShadow
.hero--cta
    margin-top: 2rem
    a
        margin-right: 1rem
.hero--lightbright
    svg
        position: absolute
        right: -20ch
        top: 10rem
        min-height: 20ch
        height: 50ch
        max-height: 80ch
        z-index: -1
        fill: $color-card-base
        transition: $transition-all
        .circle--selector
            border: 1px solid $color-light-base

// ======================================
// CSS Styles to swap around with js for the lightbright
// ======================================
// Transition clear
.transition-enter
    #c05, #d25, #j03, #j13, #k11, #k12, #n26, #o24, #p07, #p30
        @include lightOn

.transition-clear
    // Empty styles

.transition-exit
    #c16, #f11, #f15, #f18, #f22, #f25, #h11, #h16, #h21, #i14, #i18, #i21, #j08, #k12, #k24, #l18, #l19, #m13, #n17, #o15, #o16, #p15
        @include lightOn

// ==============
.default
    #f13, #f14, #f15, #f18, #f19, #f20, #g13, #g14, #g15, #g18, #g19, #g20, #h13, #h14, #h15, #h18, #h19, #h20, #k11, #k12, #k21, #k22, #l11, #l12, #l13, #l20, #l21, #l22, #m12, #m13, #m14, #m15, #m16, #m17, #m18, #m19, #m20, #m21, #n15, #n16, #n17, #n18
        transition: $transition-all
        @include lightOn
.portfolio
    #b22, #c20, #c21, #c22, #c23, #d19, #d21, #d22, #d23, #e18, #e20, #e21, #e22, #e23, #f17, #f19, #f20, #f21,#f22, #g16, #g18, #g19, #g20, #g21, #h15, #h16, #h17, #h18, #h19, #h20, #i15, #i16, #i17, #i18, #i19, #j14, #j15, #j16, #j17, #j18, #k14, #k15, #k16, #l14, #l15, #m11, #m12, #m13, #n10, #n11, #n12, #n13, #o10, #o11,  #o13, #p09, #p10, #p11, #p12
        @include lightOn
.thoughts
    #f14, #f15, #f16, #f17, #g12, #g13, #g14, #g15, #g16, #g18, #g19, #h11, #h12, #h13, #h14, #h15, #h16, #h17, #h18, #h19, #h20, #i10, #i11, #i12, #i13, #i14, #i15, #i16, #i17, #i18, #i19, #i20, #i21, #j10, #j11, #j12, #j15, #j16, #j17, #j18, #j19, #j20, #j21, #k11, #k13, #k14, #k15, #k16, #k17, #k18, #k19, #k20, #k21, #l12, #l13, #l14, #l15, #l16, #l19, #l20, #l21, #m13, #m14, #m17, #m18, #m20, #n18, #n19
        @include lightOn
